.FAQ {
    position: relative;
    top: -1650px;
    left: 100px;
    cursor: text;
    

}
.CustomerCenter {
    position: relative;
    top: -1695px;
    left: 730px;
}

.FirstFaq {
    position: relative;
    top: -1690px;
    left: 105px;
    cursor: pointer;
    
    text-underline-offset: 20px;
}

.SecondFaq {
    position: relative;
    top: -1670px;
    left: 105px;
    cursor: pointer;
    text-underline-offset: 20px;
}

.ThirdFaq {
    position: relative;
    top: -1650px;
    left: 105px;
    cursor: pointer;
    text-underline-offset: 20px;
}

.PhoneBox {
    position: relative;
    top: -1810px;
    left: 730px;
    width: 350px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: text;
    
}

.PhoneNumber {
    position: relative;
    left: 20px;
    top: -10px;
    color: red;
    font-size: 30px;
}
.OfficeDay {
    position: relative; 
    top: -5px;
    left: 22px;
}
.OfficeHour {
    position: relative;
    top: -15px;
    left: 22px;
    
}

.LocationBox {
    position: relative;
    top: -1960px;
    left: 1100px;
    width: 300px;
    height: 70px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;

    transition-duration: 0.2s;
    
    
}

.LocationBox:hover {
    background-color: #da341ff6;
  color: white;
}

.Location {
    position: relative;
    left: 110px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
}

.ManToManBox {
    position: relative;
    top: -1955px;
    left: 1100px;
    width: 300px;
    height: 70px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;

    transition-duration: 0.2s;
}

.ManToManBox:hover {
    background-color: #f0412af6;
    color: white;
}
.ManToMan {
    position: relative;
    left: 120px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
}


