

  /* .header {
  display: flex;
  margin: 0;
  padding: 0;
  background: #F11843;
  height: 80px; 

}  */


/* .header-logo {
  font-size: 30px;
  width: 200px;
  color:white;
  font-weight: 700;
  float: left;
  padding-top: 25px;
  padding-left: 70px;
} */



/* .leftsideMenu {
  list-style: none;
  float: left;
  color: white;
  font-weight: 700;
  font-size: 15px;
  padding: 17px 15px;
  cursor: pointer;

  transition-duration: 0.2s;
    border: none;


} */

/* .leftsideMenu:hover {
  background-color: #66180ef6;
  color: white;
  border-radius: 30px;
} */


.rightsideMenu {
position: relative;
top: 3px;
left: 600px;
padding: 17px 15px;

color: white;
font-weight: 700;
font-size: 15px;
cursor: pointer;
float: left;
list-style: none;

transition-duration: 0.2s;
    border: none;

}

.rightsideMenu:hover {
  background-color: #66180ef6;
  color: white;
  border-radius: 30px;
}


